* {
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    box-shadow: 2px 2px 4px #777;
    position: fixed;
    background: #fff;
    z-index: 2;
    top: 0;
}
header img {
    height: 50px;
    margin: 10px;
}
#hamb {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
#hamb span {
    display: block;
    width: 32px;
    height: 3px;
    background: #2d2d2d;
    margin: 5px;
}
nav {
    display: flex;
    width: 100%;
    height: 0;
    flex-direction: column;
    overflow: hidden;
    transition: 0.8s;
    position: fixed;
    top: 0;
    background: #fff;
}
nav a {
    font-size: 30px;
    color: #2d2d2d;
    font-family: calibri;
    text-decoration: none;
    border-bottom: 2px solid #777;
    border-right: 2px solid #777;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    transition: 0.4s;
}
nav a:nth-child(1) {
    margin-top: 100px;
}
nav h1 {
    text-align: center;
    color: #2d2d2d;
    margin-top: 125px;
    font-family: calibri;
    color: #043EB4;
}
nav p {
    font-family: 17px;
    text-align: center;
    color: #777;
    margin-top: 18px;
    font-family: calibri;
}
nav a:hover {
    background: #043EB4;
    color: #fff;
}
@media screen and (min-width: 720px) {
    #hamb {
    display: none;
}
#close {
    display: none;
}
nav {
    overflow: auto;
    height: 70px;
    flex-direction: row;
    width: 40%;
    background: none;
    position: fixed;
    right: 15px;
    margin-top: 15px;
}
nav a:nth-child(1) {
    margin-top: 25px;
}
nav a {
    border: none;
    font-size: 20px;
}
nav a:hover {
    background: none;
    color: #777;
    text-decoration: underline;
}
nav h1, nav p {
    display: none;
}
}
.mySlides {display: none;}
.mySlides img {vertical-align: middle;}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 70px;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
@media screen and (min-width: 720px) {
.slideshow-container {
    margin-top: 0;
}
}
#cnt {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
}
.mai {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
    box-shadow: 4px 6px 8px #777;
    border: 1px solid rgb(207, 207, 207);
}
.label {
    width: 90%;
    margin: 5%;
}
.label h1 {
    font-family: calibri;
    color: #043EB4;
    text-align: center;
    font-weight: 800;
}
.label h4 {
    text-align: center;
    font-family: arial;
}
.mai img {
    width: 90%;
    margin: 5%;
    box-shadow: 2px 2px 4px #777;
}
.got {
    font-size: 17px;
    font-family: verdana;
    color: #fff;
    width: 165px;
    height: 45px;
    border-radius: 12px;
    text-decoration: none;
    background: linear-gradient(to right bottom, #D21216, #0B3DAF);
    box-shadow: 2px 2px 3px #777;
    text-align: center;
    line-height: 2.5;
    align-self: center;
    margin-bottom: 18px;
}
@media screen and (min-width: 720px) {
.mai {
    width: 90%;
    height: 60vh;
    overflow: hidden;
    flex-direction: row;
}
.label h1 {
    font-size: 48px;
}
.mai img {
    width: 40%;
    margin: 1%;
}
.got {
    position: relative;
    top: 140px;
    left: -875px;
    width: 350px;
    transition: 0.4s;
}
.got:hover {
    box-shadow: 4px 4px 12px #777;
}
}
#spon {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
}
#spon h1 {
    text-align: center;
    color: #2d2d2d;
    font-family: verdana;
    margin: 18%;
}
#spon div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
#spon img {
    width: 40%;
    align-self: center;
    margin: 5%;
}
@media screen and (min-width:720px) {
#spon h1 {
    align-self: center;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
}
#spon div {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
    margin-top: 0;
}
#spon img {
    width: 150px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.2s;
}
#spon img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
}
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #fff;
    background: #f2f2f2;
}
#cntct {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    font-family: calibri;
    background: linear-gradient(to right bottom, #D21216, #0B3DAF);
    margin-top: 18px;
}
#cntct h1 {
    margin: 5%;
}
#cntct button {
    width: 180px;
    height: 45px;
    background: #fff;
    border: none;
    box-shadow: 3px 3px 5px rgb(182, 179, 179);
    align-self: center;
    margin-top: 10%;
}
#cntct a {
    align-self: center;
    font-size: 24px;
    width: 1500;
    color: transparent;
    background: linear-gradient(to right bottom, #d21216, #0b3dda);
    background-clip: text;
    -webkit-background-clip: text;
}
#cntct p {
    align-self: center;
    font-size: 17px;
    font-family: arial;
    
    margin: 18px 0px 10px 0px;
}
#social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 40px;
    color: #fff;
    margin-top: 18%;
    margin-bottom: 18%;
}
#social a i {
    color: #fff;
    font-size: 40px;
}
#sit {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: verdana;
    margin-top: 10%;
    margin-bottom: 20%;
}
#sit a {
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.1s;
}
#sit a:hover {
    color: #777;
}
#mark {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #777;
    align-items: center;
    font-family: verdana;
}
#mannan {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20%;
    background: #fff;
}
#mannan p {
    font-size: 17px;
    font-family: verdana;
    color: #777;
    text-align: center;
}
#mannan div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#mannan div a {
    text-align: center;
    font-size: 17px;
    font-family: verdana;
}
@media screen and (min-width: 720px) {
#cntct {
    width: 80%;
    margin-left: 10%;
}
#cntct h1 {
    margin: 5%;
    font-size: 48px;
}
#cntct button {
    margin-top: 2%;
}
#social {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    margin-left: 20%;
}
#sit {
    width: 80%;
    margin-left: 10%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 45px
}
#mark {
    margin: 18px 0px 5px 0px;
}
#mannan {
    margin-top: 48px;
}
}

